body{
    background-color: whitesmoke;
}

.container{
    border: 2px solid black;
    margin-top: 20px;
}
#animal-buttons{
    text-align: center;
	padding:10px 10px 10px 0px;
}

.logo1{
    vertical-align: middle;
    width: 175px;
    height: 150px;
}
.animal-image{
    width: 251px;
    margin: 0;  
    border-radius: 0px 0px 25px 25px;
}

#animal-form{
	font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: 'Lobster', cursive;
    background-color: #f25758;
    border-bottom: 2px solid black;
}


#add-animal{
    font-size: 15px;
    width: 45%;
    background: #31c45e;
    border: 1px solid #e5e5e5;
    color: #ffffff;
    font-family: 'Lobster', cursive;
    border: 1px solid gray;
}

p{
   background-color: #EE5921;
    border-radius: 25px 25px 0 0;
    padding: 8px;
    text-align: center;
    font-family: 'Lobster', cursive;
    margin: 0;

}
label{
    margin-right: 10px;
}

#animal-input{
    height: 25px;
    width: 85%;
}

h3{
    font-family: 'Lobster', cursive;
    font-size: 15px;
    text-align: center;
}

.animalItem{
    float:left;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
}

#scroll{
    float:left;
    width: 100%;
    overflow: auto;
    padding: 10px;
}

.row1{
    background-color: black;
    color: white

}

.h2Text{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
    font-family: fantasy;
    font-size: 55px;
    }
@media only screen and (min-width: 960px){
    .h2Text{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
    font-family: fantasy;
    font-size: 100px;
    }

}

@media only screen and (min-width: 768px){
    .h2Text{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 0%;
    font-family: fantasy;
    font-size: 65px;
}
    
}

@media only screen and (max-width: 325px){
    .h2Text{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 0%;
    font-family: fantasy;
    font-size: 35px;
    
}
}
.search{
    text-align: center;

}

.searchDiv{
    background-color: #209cc5;
    overflow: hidden;
}

.col{
    height: auto;
}


button{
    height: 50px;
    background: #7d61ed;
    border: 1px solid #e5e5e5;
    box-shadow: 3px 3px #000000;
    color: #ffffff;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin-top: 10px;
    padding: 15px;
}

